body {
    background-color: lightblue;
}

h1, h2, h3, h5 {
    font-family: verdana;
    color: white;
    text-align: left;
}

a {
    font-family: verdana;
    font-size: 15px;
}

p {
    font-family: verdana;
    font-size: 15px;
}

ul {
    font-family: verdana;
    font-size: 15px;
}

ol {
    font-family: verdana;
    font-size: 15px;
}

ul.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.menu{
  float: left;
}

li a.menu{
  display: block;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a.menu:hover{
  background-color: dimgrey;
}

li a.active{
  display: block;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: darkgrey;
}
